In [4]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [5]:
producer = KafkaProducer(bootstrap_servers=['44.203.175.14:9092'], #change ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [18]:
producer.send('demo_test', value={'Kamalesh':'909'})

In [11]:
df = pd.read_csv("dataset.csv")

In [12]:
df.head()

                            Date     ID              Name  Age
0  2023-01-01 00:00:00.000000000  82161  Michael Gonzales   38
1  2023-01-01 17:33:18.396793587  81480       Crystal Cox   68
2  2023-01-02 11:06:36.793587174  17969  Matthew Anderson   55
3  2023-01-03 04:39:55.190380761  28786          Dale Lee   64
4  2023-01-03 22:13:13.587174348  46131     Andrea Glover   47

In [23]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_test', value=dict_stock)
    sleep(2)

KeyboardInterrupt:

In [19]:
producer.flush() #clear data from kafka server